@import "tailwindcss";

/* globals.css */

.glassmorphism { 
  background: rgba(255,255,255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px );
}
body {
  font-family: var(--font-poppins);
}
@layer utilities{ 
  .flex-center{
     @apply flex justify-center items-center;
  }
  .flex-between{ 
    @apply flex justify-between items-center;   
  }
}
@theme {
  --color-dark-1: #1C1F2E;
  --color-dark-2: #161925;
  --color-blue-1: #0E78F9;
  --color-sky-1 : #C9DDFF;
  /* --color-blue-2: #123F2E; */
}
